:root{
    --color-alegria: #D4F266;
    --color-tristeza:#3805F2;
    --color-calma:#A0F2DB;
    --color-confianza:#F238B1;
    --color-ira:#F23030;
    --bs-font-sans-serif:"Montserrat", sans-serif;
}

span.tristeza{
    color:var(--color-tristeza);
}


body {
    background-color: #121212;
    color: white;
}

header {
  padding-top: 15rem;
  padding-bottom: 10rem;
  text-align: center;
  text-align: center;
}

header h1{
    border-radius: 50% 50%;
    margin:0 auto;
    background:silver;
    width:16rem;
    line-height: 16rem;
    box-shadow: 0 0 1rem rgba(55,55,55,.5);
}

header.alegria {
  background: linear-gradient(rgba(18, 18, 18, 0.1), rgba(18, 18, 18, 1)), url("img/alegre.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.calma {
  background: linear-gradient(rgba(18, 18, 18, 0.1), rgba(18, 18, 18, 1)), url("img/calma.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.confianza {
  background: linear-gradient(rgba(18, 18, 18, 0.1), rgba(18, 18, 18, 1)), url("img/confianza.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.ira {
  background: linear-gradient(rgba(18, 18, 18, 0.1), rgba(18, 18, 18, 1)), url("img/ira.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.tristeza {
  background: linear-gradient(rgba(18, 18, 18, 0.1), rgba(18, 18, 18, 1)), url("img/tristeza.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.alegria h1 {color:rgba(25,25,25,.75); background:var(--color-alegria);}

header.calma h1 {color:rgba(25,25,25,.75); background:var(--color-calma);}

header.confianza h1 {color:rgba(255,255,255,.75); background:var(--color-confianza);}

header.ira h1 {color:rgba(255,255,255,.75); background:var(--color-ira);}

header.tristeza h1 {color:rgba(255,255,255,.75); background:var(--color-tristeza);}

h2.emotion-label{
    border-radius: 50% 50%;
    margin:4rem 1rem 0 1rem;
    background:silver;
    width:12rem;
    line-height: 12rem;
    box-shadow: 0 0 1rem rgba(55,55,55,.5);
}


h2.emotion-label:hover{
    margin:3rem 0rem 0 0rem;
    width:14rem;
    line-height: 14rem;
    transition:all ease .25s;
}

div#alegria > a > h2{
    background:linear-gradient(rgba(212, 242, 102, 0.9), rgba(212, 242, 102, 0.9)), url("img/alegre.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

div#calma > a > h2{
    background:linear-gradient(rgba(160, 242, 219, 0.9), rgba(160, 242, 219, 0.9)), url("img/calma.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

div#confianza > a > h2{
    background:linear-gradient(rgba(242, 56, 177, 0.9), rgba(242, 56, 177, 0.9)), url("img/confianza.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

div#ira > a > h2{
    background:linear-gradient(rgba(242, 48, 48, 0.85), rgba(242, 48, 48, 0.85)), url("img/ira.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

div#tristeza > a > h2{
    background:linear-gradient(rgba(56, 5, 242, 0.8), rgba(56, 5, 242, 0.8)), url("img/tristeza.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

/* gráficos  */

.content {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.content h2 {
    font-size: 2.5em;
    color: #cef564;
    margin-top: 20px;
}
.content p {
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}
.responsive-img {
    max-width: 100%;
    height: auto;
}
.ct-chart {
    margin-top: 20px;
    margin-left: 35px;
}
.ct-series-a .ct-point,
.ct-series-a .ct-line {
    stroke: #1db954;
}
.ct-series-b .ct-area {
    fill: rgba(29, 185, 84, 0.1);
}
.ct-axis.ct-horizontal .ct-grid,
.ct-axis.ct-vertical .ct-grid {
    stroke: #ffffff;
}
.ct-label {
    fill: #ffffff;
    color: #ffffff;
}
.ct-series-a .ct-area {
    fill: rgba(29, 185, 84, 0.5);
}
.bar-explicito .ct-bar {
    stroke: #cc3929;
}
.bar-no-explicito .ct-bar {
    stroke: #9cf0e1;
}
.y-label {
    transform: translateY(-50%) rotate(-90deg);
}
.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.legend .legend-color-1 {
    width: 20px;
    height: 20px;
    background-color: #9cf0e1;
    margin-right: 10px;
}
.legend .legend-color-2 {
    width: 20px;
    height: 20px;
    background-color: #cc3929;
    margin-right: 10px;
}
.legend .legend-text {
    color: white;
}

